*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    text-align: center;

}

h1 {
    font-size: 100px;

}

input {
    width: 300px;
    height: 100px;

}

.btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 100px;
    margin: 10px;
    background-color: rgb(255, 139, 226);
    color: rgb(44, 0, 43);
}

.btn:hover {
    background-color: rgb(116, 74, 94);
    cursor: pointer;
}

.shell {
    background-color: rgb(254, 137, 209);
    width: fit-content;
    margin-inline: auto;
    border: 3px solid black;
}